<form action="/admin/lanzamientos/editar" method="post">

  <!-- var nombre = req.body.nombre;
  var descripcion = req.body.descripcion;
  var rutaImagen = req.body.rutaImagen;
  -->
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      name="nombre"
      value="{{lanzamiento.nombre}}"
    />
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripcion</label>
    <input
      type="text"
      class="form-control"
      name="descripcion"
      value="{{lanzamiento.descripcion}}"
    />
  </div>
  <div class="mb-3">

    
    <label for="artista" class="form-label">Artista</label>

    <select class="form-select" name="artistaIdEditado" aria-label="seleccion artista">
      <option value="{{lanzamiento.artistaId}}" selected>{{lanzamiento.artistaNombre}}</option>
      
      {{#each artistas}}
        <option value="{{this.id}}">{{this.nombre}}</option>  
      {{/each}}

    </select>

  </div>

  <div class="mb-3">

    <label for="genero" class="form-label">Genero</label>

    <select class="form-select" name="generoIdEditado"  aria-label="seleccion genero">
      <option value="{{lanzamiento.generoId}}" selected>{{lanzamiento.generoNombre}}</option>
      
      {{#each generos}}
        <option value="{{this.id}}">{{this.nombre}}</option>  
      {{/each}}

    </select>
  
  </div>

  <div class="mb-3">
    <label for="formFile" class="form-label">Cargar imagen...</label>
    <input
      class="form-control"
      type="file"
      name="ruta_imagen"
      value="{{lanzamiento.rutaImagen}}"
      id="imagen"  onchange="previewImage();" accept="image/*" />
    <br><br>
    <img id="preview">
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    name="lanzamientoId"
    value="{{lanzamiento.id}}"
  >Editar</button>
  {{#if errorEdicion}}
    <div
      class="p-3 text-danger-emphasis text-danger text-center bg-danger-subtle border border-danger-subtle rounded-3"
    >Hubo un error en la edicion</div>
  {{/if}}
</form>