<section id="lanzamientos">
  <h2>Lanzamientos</h2>

  {{#if errorEdicion}}
    <div
      class="p-3 text-danger-emphasis text-danger text-center bg-danger-subtle border border-danger-subtle rounded-3"
    >
      Hay un problema con la Edicion
    </div>
  {{/if}}

  {{#if errorCreacion}}
    <div
      class="p-3 text-danger-emphasis text-danger text-center bg-danger-subtle border border-danger-subtle rounded-3"
    >
      Hay un problema con la Creacion
    </div>
  {{/if}}

  {{#if errorEliminar}}
    <div
      class="p-3 text-danger-emphasis text-danger text-center bg-danger-subtle border border-danger-subtle rounded-3"
    >
      Hay un problema con la Elminacion
    </div>
  {{/if}}

  <a href="/admin/lanzamientos/alta"><button class="btn btn-outline-primary">Crear
        Lanzamiento</button></a>

  <br><br>
  <ul>
    {{#each lanzamientos}}
      <li>
        {{{this.imagen}}}
        <div>
          <h3>{{this.nombre}}</h3>
          <p>
            {{this.artistaNombre}}
          </p>
        </div>

        <audio hidden id="reproductor{{@index}}" controls>
					<source src="{{this.audio}}" />
        </audio>

        <div class="row mt-3">
          <div class="col-md-12">
            <!-- Agrega los botones de control -->
            <button id="btnPlay{{@index}}" onclick="play({{@index}})" class="btn btn-primary mr-2">Play</button>
            <button id="btnPause{{@index}}" onclick="pause({{@index}})" class="btn btn-secondary mr-2">Pause</button>
            <button id="btnStop{{@index}}" onclick="stop({{@index}})" class="btn btn-danger mr-2">Stop</button>
          </div>
        </div>

        <br>

        <form action="/admin/lanzamientos/editable" method="post" style="all:unset">
          <button
            type="submit"
            class="btn btn-outline-success"
            name="lanzamientoId"
            value="{{this.id}}"
          >Editar</button>
        </form>

        <form action="/admin/lanzamientos/borrar" method="post" style="all:unset">
          <button
            type="submit"
            class="btn btn-outline-danger"
            name="lanzamientoId"
            value="{{this.id}}"
          >Borrar</button>
        </form>

      </li>
    {{/each}}
  </ul>
</section>