<section>
  <h2>Nuevos lanzamientos</h2>

  <ul>
    {{#each lanzamientos}}
      <li>
        <h3>{{this.nombre}}</h3>
        <img src="/images/sencillos/{{this.rutaImagen}}" alt="cancion {{this.nombre}}" />
        <p>{{this.descripcion}}</p>
      </li>
    {{/each}}
  </ul>
</section>
<section>
  <h2>Artistas emergentes</h2>
  <ul>
    {{#each artistas}}
      <li>
        <h3>{{this.nombre}}</h3>
        <img src="/images/sencillos/{{this.rutaImagen}}" alt="cancion {{this.nombre}}" />
        <p>{{this.descripcion}}</p>
      </li>
    {{/each}}
  </ul>
</section>